global
  maxconn 1024
defaults
  mode http
  default-server check init-addr last,libc,none resolvers default
  timeout client 90s
  timeout connect 5s
  timeout server 60s

frontend haproxy
  bind :80
  # bind :443 ssl crt /certs/ strict-sni

  acl is_acme path_beg /.well-known/acme-challenge/
  acl is_ssl ssl_fc
  acl is_www hdr_beg(host) -i www.

  http-request redirect location https://www.%[hdr(host)]%[url] code 301 unless is_acme || is_www
  http-request redirect scheme https code 301 unless is_acme || is_ssl

  use_backend acme_http_01_challenge if is_acme
  use_backend teste1 if { hdr_end(host) -i teste1.boarede.com }
  default_backend not_found

backend acme_http_01_challenge
  http-request return status 404 if { nbsrv eq 0 }
  server acme acme:80 check
backend teste1
  http-request return status 404 if { nbsrv eq 0 }
  server teste1 teste1:80 check
backend not_found
  http-request return status 404
