global
  # authentication middlware lua scripts
  tune.lua.bool-sample-conversion normal
  lua-prepend-path /data/?.lua
  lua-load /data/auth-request.lua

defaults
  # dynamic container services discovery
  default-server init-addr last,libc,none resolvers default
  # defaults to http traffic
  mode http
  # authentication header
  option forwardfor
  # sane traffic timeouts
  timeout client 30s
  timeout connect 5s
  timeout server 60s

frontend public
  bind :80
  bind :443 ssl crt /certs/

  # domain acl rules
  acl is_acme path_beg /.well-known/acme-challenge/
  acl is_ssl ssl_fc
  acl is_www hdr_beg(host) -i www.
  # redirects traffic to https://wwww. if not already or an acme challenge
  http-request redirect location https://www.%[hdr(host)]%[url] code 301 unless is_acme || is_www
  http-request redirect scheme https code 301 unless is_acme || is_ssl

  # authentication acl rules
  acl is_auth hdr(host) -i www.auth.boarede.com
  acl is_trusted_network src 10.0.0.0/8
  # authentication trusted proxies
  http-request del-header X-Forwarded-For unless is_trusted_network
  http-request set-header X-Forwarded-For %[src] unless { req.hdr(X-Forwarded-For) -m found }
  http-request set-var(req.questionmark) str(?) if { query -m found }
  # authentication required headers
  http-request set-header X-Forwarded-Method %[method]
  http-request set-header X-Forwarded-Proto https
  http-request set-header X-Forwarded-Host %[req.hdr(Host)]
  http-request set-header X-Forwarded-URI %[path]%[var(req.questionmark)]%[query]
  # authenticate
  http-request lua.auth-intercept auth /api/authz/forward-auth HEAD * - - unless is_acme || is_auth
  http-request deny unless is_acme || is_auth || { var(txn.auth_response_successful) -m bool } || !{ var(txn.auth_response_code) -m int 403 }
  http-request redirect location %[var(txn.auth_response_location)] unless is_acme || is_auth || { var(txn.auth_response_successful) -m bool }

  # proxies domains
  default_backend unknown
  use_backend acme if is_acme
  use_backend auth if is_auth

  use_backend ldap if { hdr(host) -i www.ldap.boarede.com }
  use_backend vaultwarden if { hdr(host) -i www.vaultwarden.boarede.com }
  use_backend teste1 if { hdr(host) -i www.boarede.com }
  use_backend teste1 if { hdr(host) -i www.teste1.boarede.com }
  use_backend teste2 if { hdr(host) -i www.teste2.boarede.com }


backend unknown
  http-request return status 404
backend acme
  http-request return status 404 if { nbsrv eq 0 }
  server acme acme:80
backend auth
  http-request return status 404 if { nbsrv eq 0 }
  server auth auth:9091 check

# wip
backend ldap
  http-request return status 404 if { nbsrv eq 0 }
  server ldap ldap:17170 check
backend vaultwarden
  http-request return status 404 if { nbsrv eq 0 }
  server vaultwarden vaultwarden:80 check
backend teste1
  http-request return status 404 if { nbsrv eq 0 }
  server teste1 teste1:80 check
backend teste2
  http-request return status 404 if { nbsrv eq 0 }
  server teste2 teste2:80 check
