global
  # Set a variable named "my_string" to a string value
  set-var proc.my_string str("some string value")

defaults
  mode http
  timeout client 30s
  timeout connect 5s
  timeout server 30s

frontend reverse-proxy-http
  bind :80
  # certs renewal with acmesh
  acl is_acme path_beg /.well-known/acme-challenge/
  use_backend acme-backend if is_acme
  # redirects http traffic to https
  redirect scheme https code 301

frontend reverse-proxy-https
  bind :443 ssl crt /etc/ssl/certs/fullchain.pem no-cert-checks
  use_backend %[req.hdr(host),lower,regsub(\.%[var(proc.BASE_DOMAIN)]$,),regsub(^,backend-),regsub(^$|root$,root)]
  default_backend backend-error

backend backend-teste
  server teste teste:80 check

backend backend-root
  server teste teste:80 check

backend backend-error
  http-request return status 404 content-type "text/plain" string "404 Not Found"
