defaults
  mode http
  timeout client 30s
  timeout connect 5s
  timeout server 30s

frontend reverse_proxy
  bind :80
  bind :443 ssl crt /mnt/certs/ strict-sni
  # redirects http traffic to https
  redirect scheme https code 301 if !{ ssl_fc }
  # defined services
  use_backend backend-root if { hdr(host) -i boarede.com }
  use_backend backend-%[hdr(host),lower,regsub(^[^.]+\\.,,)] if { hdr_end(host) -i .boarede.com }
  # fails as default
  default_backend backend-error

backend backend-root
  server teste teste:80 check
backend backend-teste
  server teste teste:80 check

backend backend-error
  http-request return status 404
