#!/bin/bash
set -euo pipefail

printf '\n'
{{ template "shared/add_logging" . -}}

{{ if eq .chezmoi.os "linux" -}}
{{ template "linux/configure" . -}}
{{ else if eq .chezmoi.os "darwin" -}}
{{ template "darwin/configure" . -}}
{{ end -}}
