#!/bin/bash
set -euo pipefail

{{ if eq .chezmoi.os "linux" -}}
{{ template "install-tools/linux/install" . -}}
{{ else if eq .chezmoi.os "darwin" -}}
{{ template "install-tools/darwin/install" . -}}
{{ end -}}
