{{ $host := index .hosts .chezmoi.hostname | default dict -}}
{{ $homebrew := dig "homebrew" dict $host -}}
{{ $formulas := dig "formulas" list $homebrew -}}
{{ $taps := dig "taps" list $homebrew -}}

{{ range $taps -}}
tap {{ quote . }}, trusted: true
{{ end -}}

{{ if and (dig "installXcode" false $host) (not (has "xcodesorg/made" $taps)) -}}
tap "xcodesorg/made", trusted: true
{{ end -}}

{{/* installXcode implicitly declares xcodes when homebrew is managed */}}
{{ if and (dig "installXcode" false $host) (not (has "xcodesorg/made/xcodes" $formulas)) -}}
brew "xcodesorg/made/xcodes"
{{ end -}}

{{/* useBash implicitly declares bash unless it is already listed */}}
{{ if and (dig "useBash" false $host) (not (has "bash" $formulas)) -}}
brew "bash"
{{ end -}}

{{ range $formulas -}}
brew {{ quote . }}
{{ end -}}

{{/* qualified casks inherit trust when their tap is declared */}}
{{ range $cask := dig "casks" list $homebrew -}}
{{ $trusted := false -}}
{{ range $tap := $taps -}}
{{ if hasPrefix (printf "%s/" $tap) $cask -}}
{{ $trusted = true -}}
{{ end -}}
{{ end -}}
cask {{ quote $cask }}{{ if $trusted }}, trusted: true{{ end }}
{{ end }}
