{{/* homebrew paths are added only on darwin hosts that use homebrew */ -}}
{{ $host := index .hosts .chezmoi.hostname | default dict -}}
{{ $useBash := dig "useBash" false $host -}}
{{ $manageHomebrew := or $useBash (hasKey $host "homebrew") -}}
{{ $useHomebrew := or (dig "installHomebrew" false $host) $manageHomebrew -}}
{{ if and (eq .chezmoi.os "darwin") $useHomebrew -}}
[[ ":$PATH:" != *':/opt/homebrew/sbin:'* ]] && export PATH="/opt/homebrew/sbin:$PATH"
[[ ":$PATH:" != *':/opt/homebrew/bin:'* ]] && export PATH="/opt/homebrew/bin:$PATH"
{{ end -}}

[[ ":$PATH:" != *":$HOME/.local/bin:"* ]] && export PATH="$HOME/.local/bin:$PATH"
