#!/bin/bash
set -euo pipefail

{{ if has .chezmoi.hostname .installChezmoiHosts -}}
# -----------------------------------------------------------------------------
# Debian
# -----------------------------------------------------------------------------
{{ if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "debian") -}}

sudo rm -f /etc/apt/sources.list /etc/apt/sources.list.d/*
cat <<'EOF' | sudo tee /etc/apt/sources.list.d/debian.sources >/dev/null
Types: deb
URIs: https://deb.debian.org/debian
Suites: sid
Components: main
Signed-By: /usr/share/keyrings/debian-archive-keyring.gpg
EOF

sudo apt update
sudo env DEBIAN_FRONTEND=noninteractive apt full-upgrade -y
command -v chezmoi >/dev/null 2>&1 ||
  sudo env DEBIAN_FRONTEND=noninteractive apt install -y chezmoi
sudo env DEBIAN_FRONTEND=noninteractive apt autoremove -y
{{ end -}}

# -----------------------------------------------------------------------------
# macOS
# -----------------------------------------------------------------------------
{{ if eq .chezmoi.os "darwin" -}}

xcode-select --print-path >/dev/null 2>&1 ||
  xcode-select --install

_brew="$(command -v brew || command -v /opt/homebrew/bin/brew || command -v /usr/local/bin/brew || true)"
if [[ -z $_brew ]]; then
  NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
  _brew="$(command -v /opt/homebrew/bin/brew || command -v /usr/local/bin/brew)"
fi

command -v chezmoi >/dev/null 2>&1 ||
  "$_brew" install chezmoi
{{ end -}}
{{ end -}}
